@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&display=swap');


body {
  background-color: #8bc6ec;
  background-image: linear-gradient(260deg, #9ed3f7 10%, #959aec 100%);

  font-family: 'Montserrat', sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;

  background-color: rgba(200, 205, 223, 0.829);
  box-shadow: 0px 5px 7px rgb(0 0 0 / 25%);
  
}

#title {
  margin-top: 2.5rem;
  font-size: 2.5rem;

  font-family: "Righteous", cursive;
}

.h3{
  text-align: start;
}

#userInput,#submit, #userName, #sub {
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 6px;
  align-items: center;
  border-style: none;
}

section{
  display: inline-block;
}


#submit:hover {
  cursor: pointer;
  color: white;
  background-color: #414040;
  transition: all 0.5s ease-in;
}

#sub:hover {
  cursor: pointer;
  color: white;
  background-color: #414040;
  transition: all 0.5s ease-in;
}


@media (max-width: 1140px) {
  main {
    width: 90%;
  }
}
